SERVER_PORT=8090
SOCKET_HOST=0.0.0.0
SOCKET_PORT=9093
SOCKET_ALLOWED_ORIGIN=*
SOCKET_AUTH_ENABLED=false

JWT_ISSUER_URI=http://localhost:8180/realms/ecommerce
JWT_JWK_SET_URI=http://localhost:8180/realms/ecommerce/protocol/openid-connect/certs
