SERVER_PORT=8090
SOCKET_HOST=0.0.0.0
SOCKET_PORT=9093
SOCKET_ALLOWED_ORIGIN=*
SOCKET_AUTH_ENABLED=true

DB_URL=jdbc:postgresql://localhost:5434/chat_db
DB_USERNAME=admin
DB_PASSWORD=password
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

JWT_ISSUER_URI=http://localhost:8180/realms/ecommerce
JWT_JWK_SET_URI=http://localhost:8180/realms/ecommerce/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=ecommerce-backend
